[submodule "modules/assert"]
	path = modules/assert
	url = git@github.com:rixcpp/assert.git
	branch = dev
[submodule "modules/async"]
	path = modules/async
	url = git@github.com:rixcpp/async.git
	branch = dev
[submodule "modules/chrono"]
	path = modules/chrono
	url = git@github.com:rixcpp/chrono.git
	branch = dev
[submodule "modules/containers"]
	path = modules/containers
	url = git@github.com:rixcpp/containers.git
	branch = dev
[submodule "modules/fs"]
	path = modules/fs
	url = git@github.com:rixcpp/fs.git
	branch = dev
[submodule "modules/io"]
	path = modules/io
	url = git@github.com:rixcpp/io.git
	branch = dev
[submodule "modules/iterator"]
	path = modules/iterator
	url = git@github.com:rixcpp/iterator.git
	branch = dev
[submodule "modules/json"]
	path = modules/json
	url = git@github.com:rixcpp/json.git
	branch = dev
[submodule "modules/log"]
	path = modules/log
	url = git@github.com:rixcpp/log.git
	branch = dev
[submodule "modules/memory"]
	path = modules/memory
	url = git@github.com:rixcpp/memory.git
	branch = dev
[submodule "modules/net"]
	path = modules/net
	url = git@github.com:rixcpp/net.git
	branch = dev
[submodule "modules/process"]
	path = modules/process
	url = git@github.com:rixcpp/process.git
	branch = dev
[submodule "modules/string"]
	path = modules/string
	url = git@github.com:rixcpp/string.git
	branch = dev
[submodule "modules/thread"]
	path = modules/thread
	url = git@github.com:rixcpp/thread.git
	branch = dev
[submodule "modules/util"]
	path = modules/util
	url = git@github.com:rixcpp/util.git
	branch = dev
